<?xml version="1.0"?>
<config>
    <modules>
        <Codedge_Catalog>
            <version>0.1.1</version>
        </Codedge_Catalog>
    </modules>
    <global>
        <models>
            <codedge_catalog>
                <class>Codedge_Catalog_Model</class>
                <resourceModel>codedge_catalog_resource</resourceModel>
            </codedge_catalog>
            <codedge_catalog_resource>
                <class>Codedge_Catalog_Model_Resource</class>
            </codedge_catalog_resource>
            <catalog>
                <rewrite>
                    <category>Codedge_Catalog_Model_Catalog_Category</category>
                    <category_attribute_source_mode>Codedge_Catalog_Model_Catalog_Category_Attribute_Source_Mode</category_attribute_source_mode>
                </rewrite>
            </catalog>
        </models>
        <helpers>
            <codedge_catalog>
                <class>Codedge_Catalog_Helper</class>
            </codedge_catalog>
        </helpers>
        <blocks>
            <codedge_catalog>
                <class>Codedge_Catalog_Block</class>
            </codedge_catalog>
            <catalog>
                <rewrite>
                    <category_view>Codedge_Catalog_Block_Category_View</category_view>
                </rewrite>
            </catalog>
        </blocks>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <codedge_catalog>
                    <files>
                        <default>Codedge_Catalog.csv</default>
                    </files>
                </codedge_catalog>
            </modules>
        </translate>
    </adminhtml>
    <frontend>
        <layout>
            <updates>
                <codedge_catalog>
                    <file>codedge_catalog.xml</file>
                </codedge_catalog>
            </updates>
        </layout>
    </frontend>
</config>